* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  padding: 20px;
  transition: 0.3s;
}

.light {
  background: #f4f7fc;
  color: black;
}

.dark {
  background: #111827;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.theme-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.summary-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 15px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.dark .card {
  background: #1f2937;
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 22px;
  font-weight: bold;
}

.controls {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.controls input,
.controls select {
  padding: 10px;
  border-radius: 8px;
}

.chart-card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

.dark .chart-card {
  background: #1f2937;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
}

.dark table {
  background: #1f2937;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.danger {
  color: red;
  font-weight: bold;
}

.safe {
  color: green;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 15px;
  cursor: pointer;
}